# ECLIPSE CONFIG
.classpath
.project
.metadata
.settings
.loadpath
**/target
*/target/
/bin
/test-output
.factorypath

# IDEA CONFIG
.idea
**/*.iml
**/*.ipr
**/build
.gradle
#gradle/
gradle.bat
#gradlew.bat
#gradlew
/out
**/classes
*.iws

# STS CONFIG
.springBeans

# Other
/logs
env.properties
*.log
*.log.*
**/rebel.xml
/build/
**/.mvn
*/.mvn/

# OS
.DS_Store