name: Sanity Check

on:
  push:
    branches:
      - main
    paths:
      - 'src/**'
      - '.github/workflows/sanity-check.yml'
      - 'lombok.config'
      - 'pom.xml'
  pull_request:
    branches:
      - main
    types:
      - opened
      - reopened
      - synchronize
      - labeled

jobs:
  install:
    name: Install
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - name: Checkout Repository
        id: checkout-repository
        uses: actions/checkout@v5
      - name: Setup Java
        id: setup-java
        uses: actions/setup-java@v4
        with:
          java-version: '23'
          distribution: 'temurin'
          cache: 'maven'
      - name: Build Project
        id: build-project
        run: mvn clean install -DskipTests -DskipReports

  dry-run:
    name: Dry Run
    runs-on: ubuntu-latest
    needs: [ install ]
    timeout-minutes: 30
    steps:
      - name: Checkout Repository
        id: checkout-repository
        uses: actions/checkout@v5
      - name: Setup Java
        id: setup-java
        uses: actions/setup-java@v4
        with:
          java-version: '23'
          distribution: 'temurin'
          cache: 'maven'
      - name: Execute Cucumber Dry Run
        id: dry-run
        run: mvn verify -Dit.test=DryRunRunnerIT -DskipReports

  chrome-tests:
    name: Chrome Sanity Check
    runs-on: ubuntu-latest
    needs: [ install, dry-run ]
    timeout-minutes: 30
    services:
      rbp-booking:
        image: mwinteringham/restfulbookerplatform_booking:1.6.24c7b22
        ports:
          - 3000:3000
      rbp-room:
        image: mwinteringham/restfulbookerplatform_room:1.6.24c7b22
        ports:
          - 3001:3001
      rbp-branding:
        image: mwinteringham/restfulbookerplatform_branding:1.6.24c7b22
        ports:
          - 3002:3002
      rbp-assets:
        image: mwinteringham/restfulbookerplatform_assets:1.6.24c7b22
        ports:
          - 3003:3003
      rbp-auth:
        image: mwinteringham/restfulbookerplatform_auth:1.6.24c7b22
        ports:
          - 3004:3004
      rbp-report:
        image: mwinteringham/restfulbookerplatform_report:1.6.24c7b22
        ports:
          - 3005:3005
      rbp-message:
        image: mwinteringham/restfulbookerplatform_message:1.6.24c7b22
        ports:
          - 3006:3006
      rbp-proxy:
        image: mwinteringham/restfulbookerplatform_proxy:latest
        ports:
          - 80:80
    steps:
      - name: Checkout Repository
        id: checkout-repository
        uses: actions/checkout@v5
      - name: Setup Java
        id: setup-java
        uses: actions/setup-java@v4
        with:
          java-version: '23'
          distribution: 'temurin'
          cache: 'maven'
      - name: Setup Chrome
        id: setup-chrome
        uses: browser-actions/setup-chrome@v2
        with:
          chrome-version: latest
      - name: Run Chrome Tests
        id: run-chrome-tests
        run: mvn clean verify -Dtags='(@sanity) and (not @bug and not @skip)' -DparallelCount=3 -Denv=local -Dbrowser=chrome -Dheadless -Dremote=false
      - name: Upload Cucumber HTML Report
        id: upload-cucumber-html-report
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: chrome-cucumber-html-report
          path: target/cucumber/cucumber-html-reports/
          if-no-files-found: ignore
          retention-days: 1
      - name: Upload Cluecumber Report
        id: upload-cluecumber-report
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: chrome-cluecumber-report
          path: target/cucumber/cluecumber-report/
          if-no-files-found: ignore
          retention-days: 1
      - name: Upload Chrome Tests Logs
        id: upload-test-logs
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: chrome-tests-logs
          path: logs/
          if-no-files-found: ignore
          retention-days: 1

  firefox-tests:
    name: Firefox Sanity Check
    runs-on: ubuntu-latest
    needs: [ install, dry-run ]
    timeout-minutes: 30
    services:
      rbp-booking:
        image: mwinteringham/restfulbookerplatform_booking:1.6.24c7b22
        ports:
          - 3000:3000
      rbp-room:
        image: mwinteringham/restfulbookerplatform_room:1.6.24c7b22
        ports:
          - 3001:3001
      rbp-branding:
        image: mwinteringham/restfulbookerplatform_branding:1.6.24c7b22
        ports:
          - 3002:3002
      rbp-assets:
        image: mwinteringham/restfulbookerplatform_assets:1.6.24c7b22
        ports:
          - 3003:3003
      rbp-auth:
        image: mwinteringham/restfulbookerplatform_auth:1.6.24c7b22
        ports:
          - 3004:3004
      rbp-report:
        image: mwinteringham/restfulbookerplatform_report:1.6.24c7b22
        ports:
          - 3005:3005
      rbp-message:
        image: mwinteringham/restfulbookerplatform_message:1.6.24c7b22
        ports:
          - 3006:3006
      rbp-proxy:
        image: mwinteringham/restfulbookerplatform_proxy:latest
        ports:
          - 80:80
    steps:
      - name: Checkout Repository
        id: checkout-repository
        uses: actions/checkout@v5
      - name: Setup Java
        id: setup-java
        uses: actions/setup-java@v4
        with:
          java-version: '23'
          distribution: 'temurin'
          cache: 'maven'
      - name: Setup Firefox
        id: setup-firefox
        uses: browser-actions/setup-firefox@v1
        with:
          firefox-version: latest
      - name: Run Firefox Tests
        id: run-firefox-tests
        run: mvn clean verify -Dtags='(@sanity) and (not @bug and not @skip)' -DparallelCount=3 -Denv=local -Dbrowser=firefox -Dheadless -Dremote=false
      - name: Upload Cucumber HTML Report
        id: upload-cucumber-html-report
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: firefox-cucumber-html-report
          path: target/cucumber/cucumber-html-reports/
          if-no-files-found: ignore
          retention-days: 1
      - name: Upload Cluecumber Report
        id: upload-cluecumber-report
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: firefox-cluecumber-report
          path: target/cucumber/cluecumber-report/
          if-no-files-found: ignore
          retention-days: 1
      - name: Upload Firefox Tests Logs
        id: upload-test-logs
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: firefox-tests-logs
          path: logs/
          if-no-files-found: ignore
          retention-days: 1